.card h1 {
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  width: 30vw;
  margin: 1rem 0 2rem 0;
  color: #fff;
  border: 1px solid #01949a;
  background-color: #01949a;
}

.button:hover {
  background-color: #01959ad7;
}

.button:disabled {
  background-color: #01959a8c;
  border: 1px solid #01959a8c;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .card {
    min-width: 50vw;
    max-width: 50vw;
  }
  .button {
    width: 10vw;
  }
}
