.user-item {
  display: flex;
  flex-direction: row;
  min-width: 80vw;
}

.user-item img {
  border-radius: 50%;
  max-width: 100px;
}

.user-item__info {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.user-item__info__posts {
  margin: 0.5rem 0;
}

.user-item__info__posts i {
  color: #004369;
}

.user-item__info__posts span {
  font-weight: bold;
}

.user-item__info h2 {
  font-weight: normal;
  color: #01949a;
}

.user-item__info a {
  text-decoration: none;
}

.user-item__info a:hover {
  text-decoration: underline #01949a;
}

@media screen and (min-width: 768px) {
  .user-item {
    min-width: 50vw;
  }
}
