.navlinks {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
}

.navlinks li {
  margin: 1rem 1rem;
  list-style: none;
}

.navlinks a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.navlinks a:hover {
  border: 1px solid #cfc8b5;
  background-color: #cfc8b5;
  border-radius: 2px;
  padding: 0.5rem;
  color: #004369;
}

.navlinks_show {
  height: 100vh;
  display: flex;
}

.toggle {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

@media screen and (min-width: 768px) {
  .navlinks {
    display: flex;
    flex-direction: row;
  }
  .navlinks li:last-child {
    margin-left: auto;
  }
  .navlinks li {
    margin: 0 1rem;
    list-style: none;
  }
  .navlinks a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
  }
  .navlinks a:hover {
    border: 1px solid #cfc8b5;
    background-color: #cfc8b5;
    border-radius: 2px;
    padding: 0.5rem;
    color: #004369;
  }
  .navlinks_show {
    height: 100%;
  }
  .toggle {
    display: none;
  }
}
