.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.image-preview {
  display: block;
  margin: 2rem auto;
}

.button {
  width: 30vw;
  height: 2.5rem;
  margin: 1rem;
  color: #fff;
  border: 1px solid #01949a;
  background-color: #01949a;
}

@media screen and (min-width: 768px) {
  .image-preview {
    display: block;
    max-width: 50%;
    margin: 2rem auto;
  }
  .button {
    width: 10vw;
  }
}
